:root {
  --basicWidth: 200px
}

.container {
  height: 100%;
  width: 100%;
  /* padding: 10px 0 0 10px; */
}

.headButton {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.headButtonRight {
  margin-right: 50px;
  cursor: pointer;
}

.headButtonRight  img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.headButtonRight  span {
  margin-left: 5px;
}

.iconSpan {
  display: none;
  transition: all 0.5s ease-in-out;
}

.visible .iconSpan {
  display: inline-block !important;
}



.buttonMargin {
  margin-left: 10px;
  color: #1890ff;
}


.container {
  display: flex;
  flex-grow: 1;
}

.contentLeft {
  flex-basis: var(--basicWidth);
  flex-shrink: 0;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.contentLeft > div{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentLeft > div > ul {
  flex-grow: 1;
  padding-bottom: 0;
}

.contentRight {
  padding: 10px 0 0 10px;
}

.dropDownContainer {
  background-color: rgb(241, 237, 237);
  width: 100px;
}

.dropDownContainer > div {
  padding: 16px;
  cursor: pointer;
}

.dropDownContainer > div:hover {
  background-color: #1890ff;
}

.popoverContent {
  width: 50px;
  display: flex;
  flex-wrap: wrap;
}

.popoverContent > span {
  color: #09aaff;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

/* .contentRight {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */