:root {
  --basicWidth: 200px
}

.container {
  height: 100%;
  width: 100%;
  /* padding: 10px 0 0 10px; */
}

.headButton {
  margin-bottom: 10px;
}

.iconSpan {
  display: none;
  transition: all 0.5s ease-in-out;
}

.visible .iconSpan {
  display: inline-block !important;
}



.buttonMargin {
  margin-left: 10px;
  color: #1890ff;
}


.container {
  display: flex;
  flex-grow: 1;
}

.contentLeft {
  flex-basis: var(--basicWidth);
  flex-shrink: 0;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.contentLeft > div{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentLeft > div > ul {
  flex-grow: 1;
  padding-bottom: 0;
}

.contentRight {
  padding: 10px 0 0 10px;
}

/* .contentRight {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */